.root {
    display: flex;
    justify-content: center;
    align-self: left;
    padding: 12px 15px;
    // width: 100%;
    // margin: 0 100px;

    min-width: 300px;
    border: solid 1px #aaaaaa;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;

    img {
        color: #780707;
        size: 16px;

    }
    input {
        padding-left: 10px;
        border-width: 0px;
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
}